<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Contact
                <small>We'd Love to Hear From You!</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Contact</li>
            </ol>
        </div>

        <div class="col-lg-12">
            <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
            <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55967.95085642696!2d6.476665953456255!3d52.96564381278849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c83ca3905d346b%3A0x3d31d75f95c0c71f!2sEekhoutswijk+10%2C+9422+VD+Smilde!5e0!3m2!1sen!2snl!4v1457898158933"></iframe>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-sm-8">
            <h3>Let's Get In Touch!</h3>

            <p>Neem eens contact op als u meer wilt weten over mijn architectuurbureau, of voor een vrijblijvende afspraak.</p>

            <form role="form" method="POST" action="#">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="input1">Naam</label>
                        <input type="text" name="contact_name" class="form-control" id="input1">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input2">Email Adres</label>
                        <input type="email" name="contact_email" class="form-control" id="input2">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input3">Telefoonnummer</label>
                        <input type="phone" name="contact_phone" class="form-control" id="input3">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-12">
                        <label for="input4">Bericht</label>
                        <textarea name="contact_message" class="form-control" rows="6" id="input4"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="hidden" name="save" value="contact">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-4">
            <h3>Wijnholds Architect B.V.</h3>
            <h4>Ger Wijnholds</h4>

            <p><i class="fa fa-phone"></i> (088) 111-1111</p>

            <p><i class="fa fa-envelope-o"></i> <a href="mailto:info@wijnholdsarchitect.nl">info@wijnholdsarchitect.nl</a></p>
        </div>

    </div>
    <!-- /.row -->

</div><!-- /.container -->
